.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10%;
  width: 30vw;
  height: 40vh;
}

#title {
  white-space: nowrap;
  margin-bottom: 50px;
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 368px;
  height: 60px;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 3px 20px;
  p {
    margin-bottom: 5px;
    padding: 0;
    color: #fff;
    opacity: 0.5;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  input {
    outline: none;
    border: none;
    background: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  input::placeholder {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
  }
}

#submit-button {
  background: #ffffff;
  border-radius: 44px;
  padding: 10px 20px;
  color: #b22e6f;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  align-self: flex-end;
  position: relative;
  bottom: 65px;
  right: 20px;
  transition: 1s ease-in-out;
}

#submit-button:hover {
  transition: 1s ease-in-out;
  background: #ec17ff;
}

#submit-button:after {
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

#submit-button:hover {
  color: #fff;
}

#submit-button:hover:after {
  width: 100%;
}

.tip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 48px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  position: relative;
  bottom: 40px;
  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
  }
}

@media (max-width: 400px) {
  .input-container {
    width: 81vw;
  }
}
