<div class="container">
  <h1 id="title"><strong>ioasys</strong> Books</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <div class="input-container">
      <p>Email</p>
      <input type="email" matInput formControlName="email" placeholder="johndoe@example.com" />
    </div>

    <div class="input-container">
      <p>Senha</p>
      <input type="password" matInput formControlName="password" placeholder="***********" />
    </div>
    <button id="submit-button" type="submit">Entrar</button>

    <div class="tip" *ngIf="incorrectInfo">
      <p>Email e/ou senha incorretos</p>
    </div>
  </form>
</div>
