.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100%;
  overflow-y: visible;
  .img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 50%;
    padding: 20px 0;
    img {
      width: 90%;
      height: 70%;
      filter: drop-shadow(0px 12px 18px rgba(0, 0, 0, 0.3));
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 100%;
    min-height: 50%;

    .top-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      line-height: 2em;
      margin-bottom: 20px;
      h1,
      p {
        margin: 0;
      }
      h1 {
        font-size: 2em;
      }
      p {
        font-size: 1.25em;
      }
    }

    .middle-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: ce;
      width: 100%;
      line-height: 2em;

      p {
        font-size: 1em;
      }

      .separated-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        p {
          font-size: 1em;
        }
      }
    }

    .bottom-info {
      text-align: justify;
      font-size: 1em;
      line-height: 2em;
      p {
        margin: 0;
      }

      #abstract {
        font-size: 1em;
        line-height: 1.5em;
        color: gray;
      }
    }
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  mat-icon {
    color: black;
  }
}

@media (min-width: 768px) {
  .container {
    .img {
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
    .img {
      min-width: 45%;
      min-height: 60vh !important;
    }

    .info {
      min-width: 45%;
      min-height: 60vh !important;
    }
  }
}

@media (min-width: 1600px) {
  .container {
    .img {
      min-height: 61vh !important;
      img {
        width: 70%;
        height: 70%;
      }
    }
    .info {
      min-height: 61vh !important;
      .top-info {
        line-height: 6em;
        h1 {
          font-size: 4em;
        }
        p {
          font-size: 3em;
        }
      }

      .middle-info {
        font-size: 1em;
        p {
          font-size: 1.5em;
        }

        .separated-info {
          p {
            font-size: 1.5em;
          }
        }
      }

      .bottom-info {
        font-size: 1.5em;
        line-height: 2em;
        #abstract {
          font-size: 1em;
          line-height: 1.5em;
          color: gray;
        }
      }
    }
  }
}
