<div class="container">
  <div class="header">
    <div class="left-info">
      <h1 id="title"><strong>ioasys</strong></h1>
      <h1>Books</h1>
    </div>
    <div class="right-info">
      <p>
        Bem vindo, <strong>{{ user.name }}!</strong>
      </p>
      <span id="logout-button" (click)="signOut()">
        <mat-icon>logout</mat-icon>
      </span>
    </div>
  </div>
  <div class="books-list" #scroll>
    <app-book-card
      [authToken]="user.authorizationToken"
      [book]="book"
      *ngFor="let book of bookList; index as bookIndex"
    ></app-book-card>
    <div class="paginator" *ngIf="!isMobile">
      <strong>Página {{ page }} de {{ lastPage }}</strong>
      <button mat-icon-button class="arrow-button" (click)="goToPreviousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button class="arrow-button" (click)="goToNextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="paginator-mobile" *ngIf="isMobile">
      <button mat-icon-button class="arrow-button-mobile" (click)="goToPreviousPage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <strong>Página {{ page }} de {{ lastPage }}</strong>
      <button mat-icon-button class="arrow-button-mobile" (click)="goToNextPage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
